In [2]:
num_of_lines=200

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

Demo_metabolic=pd.read_excel("C:/Users/97254/Downloads/Demo_metabolic.xlsx", engine='openpyxl')
Demo_patient_week1_23=pd.read_excel("C:/Users/97254/Downloads/Demo_patient_week1_23.12.xlsx", engine='openpyxl')
Demo_Patient_level_feeding_Daily_19 = pd.read_csv("C:/Users/97254/Downloads/Demo_Patient_level_feeding_Daily_19.11.csv",encoding='latin-1')

Demo_metabolic = pd.DataFrame(Demo_metabolic.iloc[:num_of_lines, :3])
dataap1 = pd.DataFrame(Demo_patient_week1_23.iloc[:num_of_lines, :1])
dataap2 = pd.DataFrame(Demo_patient_week1_23.iloc[:num_of_lines, 43:45])

#data2['Weight_adm']=data2['Weight_adm']/data2['Height']
#data2= pd.DataFrame(data2.iloc[:10, :2])

Demo_patient_week1_23=pd.concat([dataap1,dataap2],axis=1)

Demo_patient_week1_23.head()

                             patient_id   LOS outcome1
0  0001F70C-AA4C-46CC-8386-9A4D778B26BA  18.0       No
1  002B9175-E697-4308-904F-243B4074C224   9.0       No
2  002E7282-9C02-4D5C-8D3B-DDA2574ABCEF   5.0       No
3  0030B684-28EE-4076-B8D1-B0CEDB9413F3   2.0       No
4  004E2D79-7F96-431B-AA0E-3A6D5B90097D   4.0       No

In [4]:
Demo_Patient_level_feeding_Daily_19 = pd.DataFrame(Demo_Patient_level_feeding_Daily_19.iloc[:num_of_lines, :])
#data.head()

#merg by id
mer=pd.merge(Demo_metabolic,Demo_Patient_level_feeding_Daily_19,left_on='patient_id',right_on='patient_id',how='left')
mer.head()

,patient_id,Weight_adm,Height,kcal_day0,protein_day0,kcal_day1,protein_day1,kcal_day2,protein_day2,kcal_day3,protein_day3,kcal_day4,protein_day4,kcal_day5,protein_day5,kcal_day6,protein_day6,kcal_day7,protein_day7
0,9A4D778B26BA,120.0,2.00,635.580000,33.858000,1540.800000,82.080000,1540.800000,82.080000,1540.800000,82.080000,1540.800000,82.080000,1878.55,88.891,1526.40,57.6,1526.40000,57.600000
1,243B4074C224,65.0,1.65,983.200008,65.546667,1253.600016,83.573334,1620.000000,108.000000,1021.200036,68.080002,1431.000000,95.400000,1440.00,96.000,1440.00,96.0,1440.00000,96.000000
2,DDA2574ABCEF,101.0,1.75,1209.600024,80.640002,0.000000,0.000000,1359.710689,66.328712,1878.261696,125.217446,643.043760,42.869584,0.00,0.000,0.00,0.0,0.00000,0.000000
3,B0CEDB9413F3,85.0,1.65,1261.400000,47.600000,337.080000,12.720000,36.746660,1.386666,0.000000,0.000000,0.000000,0.000000,0.00,0.000,0.00,0.0,0.00000,0.000000
4,3A6D5B90097D,70.0,1.75,1114.186815,40.269895,1946.950636,96.729665,1896.193822,100.402857,1970.866173,76.641677,432.479894,16.319996,0.00,0.000,1290.02,58.3,134.97333,5.653333

In [5]:
#onley kcal_day and protein_day
mer2 = pd.DataFrame(mer.iloc[:,3 :])

# normelize and concat

for col in mer2.columns:
    mer2[col] = mer2[col]/mer['Weight_adm']
    
mer = mer.iloc[:, :1]
lest=pd.concat([mer,mer2],axis=1)
lest.head()

,patient_id,kcal_day0,protein_day0,kcal_day1,protein_day1,kcal_day2,protein_day2,kcal_day3,protein_day3,kcal_day4,protein_day4,kcal_day5,protein_day5,kcal_day6,protein_day6,kcal_day7,protein_day7
0,9A4D778B26BA,5.296500,0.282150,12.840000,0.684000,12.840000,0.684000,12.840000,0.684000,12.840000,0.684000,15.654583,0.740758,12.720000,0.480000,12.720000,0.480000
1,243B4074C224,15.126154,1.008410,19.286154,1.285744,24.923077,1.661538,15.710770,1.047385,22.015385,1.467692,22.153846,1.476923,22.153846,1.476923,22.153846,1.476923
2,DDA2574ABCEF,11.976238,0.798416,0.000000,0.000000,13.462482,0.656720,18.596650,1.239777,6.366770,0.424451,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,B0CEDB9413F3,14.840000,0.560000,3.965647,0.149647,0.432314,0.016314,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,3A6D5B90097D,15.916955,0.575284,27.813581,1.381852,27.088483,1.434327,28.155231,1.094881,6.178284,0.233143,0.000000,0.000000,18.428857,0.832857,1.928190,0.080762

In [6]:
Demo_patient_week1_23=Demo_patient_week1_23.rename(columns={'patient_id':'patient_id2'},inplace = False)
#dataap.head()

lest=pd.concat([lest,Demo_patient_week1_23],axis=1)
lest.drop('patient_id2',
  axis='columns', inplace=True)
lest.head()

,patient_id,kcal_day0,protein_day0,kcal_day1,protein_day1,kcal_day2,protein_day2,kcal_day3,protein_day3,kcal_day4,protein_day4,kcal_day5,protein_day5,kcal_day6,protein_day6,kcal_day7,protein_day7,LOS,outcome1
0,9A4D778B26BA,5.296500,0.282150,12.840000,0.684000,12.840000,0.684000,12.840000,0.684000,12.840000,0.684000,15.654583,0.740758,12.720000,0.480000,12.720000,0.480000,18.0,No
1,243B4074C224,15.126154,1.008410,19.286154,1.285744,24.923077,1.661538,15.710770,1.047385,22.015385,1.467692,22.153846,1.476923,22.153846,1.476923,22.153846,1.476923,9.0,No
2,DDA2574ABCEF,11.976238,0.798416,0.000000,0.000000,13.462482,0.656720,18.596650,1.239777,6.366770,0.424451,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.0,No
3,B0CEDB9413F3,14.840000,0.560000,3.965647,0.149647,0.432314,0.016314,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,No
4,3A6D5B90097D,15.916955,0.575284,27.813581,1.381852,27.088483,1.434327,28.155231,1.094881,6.178284,0.233143,0.000000,0.000000,18.428857,0.832857,1.928190,0.080762,4.0,No

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
lest.outcome1 = le.fit_transform(lest.outcome1)
lest.patient_id = le.fit_transform(lest.patient_id)

In [12]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)
lest0=clean_dataset(lest)
lest0.head()

,patient_id,kcal_day0,protein_day0,kcal_day1,protein_day1,kcal_day2,protein_day2,kcal_day3,protein_day3,kcal_day4,protein_day4,kcal_day5,protein_day5,kcal_day6,protein_day6,kcal_day7,protein_day7,LOS,outcome1
0,97.0,5.296500,0.282150,12.840000,0.684000,12.840000,0.684000,12.840000,0.684000,12.840000,0.684000,15.654583,0.740758,12.720000,0.480000,12.720000,0.480000,18.0,0.0
1,18.0,15.126154,1.008410,19.286154,1.285744,24.923077,1.661538,15.710770,1.047385,22.015385,1.467692,22.153846,1.476923,22.153846,1.476923,22.153846,1.476923,9.0,0.0
2,136.0,11.976238,0.798416,0.000000,0.000000,13.462482,0.656720,18.596650,1.239777,6.366770,0.424451,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.0,0.0
3,107.0,14.840000,0.560000,3.965647,0.149647,0.432314,0.016314,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,0.0
4,36.0,15.916955,0.575284,27.813581,1.381852,27.088483,1.434327,28.155231,1.094881,6.178284,0.233143,0.000000,0.000000,18.428857,0.832857,1.928190,0.080762,4.0,0.0

In [18]:
x = lest0.iloc[:,1:18]   # Second column until the last column
y = lest0.iloc[:,18]    # First column (Survived) is our target
from sklearn.model_selection import train_test_split
#this function randomly split the data into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3)
#test_size=.3 means that our test set will be 30% of the train set.
x_train.head()

,kcal_day0,protein_day0,kcal_day1,protein_day1,kcal_day2,protein_day2,kcal_day3,protein_day3,kcal_day4,protein_day4,kcal_day5,protein_day5,kcal_day6,protein_day6,kcal_day7,protein_day7,LOS
119,5.635556,0.333684,6.400000,0.378947,9.101988,0.594240,9.101754,0.606784,10.105263,0.673684,10.105263,0.673684,10.105263,0.673684,10.105263,0.673684,5.0
69,4.210000,0.280667,14.400000,0.960000,7.575000,0.505000,13.225000,0.881667,4.960000,0.330667,11.070000,0.738000,13.030000,0.868667,11.980000,0.798667,22.0
104,21.765336,0.821333,25.298667,0.954667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.740730,0.480782,20.407826,0.770107,20.870222,0.787556,2.0
173,15.364953,0.579810,13.810286,0.521143,19.872476,0.749905,4.588286,0.173143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.0
30,0.000000,0.000000,10.631010,0.356113,52.806492,1.768887,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.0

In [57]:
x.shape

(156, 17)

# DecisionTreeClassifier

In [20]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(x_train, y_train)  #train parameters: features and target
pred = dtree.predict(x_test)  #parameter: new data to predict

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)
#parameters: targets to be predicted and predictions from new data used before

0.723404255319149

In [23]:
dtree = DecisionTreeClassifier(criterion='gini')
dtree.fit(x_train, y_train)
pred = dtree.predict(x_test)
print('Criterion=gini', accuracy_score(y_test, pred))
dtree = DecisionTreeClassifier(criterion='entropy')
dtree.fit(x_train, y_train)
pred = dtree.predict(x_test)
print('Criterion=entropy', accuracy_score(y_test, pred))

Criterion=gini 0.6595744680851063
Criterion=entropy 0.5957446808510638

In [ ]:
max_depth = []
acc_gini = []
acc_entropy = []
for i in range(1,20):
 dtree = DecisionTreeClassifier(criterion='gini', max_depth=i)
 dtree.fit(x_train, y_train)
 pred = dtree.predict(x_test)
 acc_gini.append(accuracy_score(y_test, pred))
 ####
 dtree = DecisionTreeClassifier(criterion='entropy', max_depth=i)
 dtree.fit(x_train, y_train)
 pred = dtree.predict(x_test)
 acc_entropy.append(accuracy_score(y_test, pred))
 ####
 max_depth.append(i)
d = pd.DataFrame({'acc_gini':pd.Series(acc_gini), 
 'acc_entropy':pd.Series(acc_entropy),
 'max_depth':pd.Series(max_depth)})
# visualizing changes in parameters

In [28]:
d.head(20)

    acc_gini  acc_entropy  max_depth
0   0.829787     0.829787          1
1   0.829787     0.829787          2
2   0.787234     0.829787          3
3   0.765957     0.744681          4
4   0.787234     0.765957          5
5   0.787234     0.765957          6
6   0.787234     0.702128          7
7   0.723404     0.723404          8
8   0.702128     0.702128          9
9   0.659574     0.680851         10
10  0.659574     0.702128         11
11  0.680851     0.680851         12
12  0.680851     0.680851         13
13  0.617021     0.680851         14
14  0.617021     0.744681         15
15  0.638298     0.723404         16
16  0.617021     0.659574         17
17  0.680851     0.723404         18
18  0.702128     0.638298         19

In [30]:
dtree = DecisionTreeClassifier(criterion='entropy', max_depth=3)
dtree.fit(x_train, y_train)
pred = dtree.predict(x_test)
accuracy_score(y_test, pred)
#Accuracy: 0.814

0.8297872340425532

# RandomForestClassifier

In [31]:
	
from sklearn.ensemble import RandomForestClassifier

In [32]:
clf_4 = RandomForestClassifier()
clf_4.fit(x_train, y_train)
 #x_train, x_test, y_train, y_test
# Predict on training set
pred_y_4 = clf_4.predict(x_test)
 
# Is our model still predicting just one class?
print( np.unique( pred_y_4 ) )
# [0 1]
 
# How's our accuracy?
print( accuracy_score(y_test, pred_y_4) )
# 0.9744

[0. 1.]
0.7872340425531915

# imbalanced-learn

In [42]:
pip install imbalanced-learn

Collecting imbalanced-learn
  Using cached imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\97254\appdata\local\programs\python\python38\lib\site-packages (from imbalanced-learn) (1.18.5)
Requirement already satisfied: scipy>=0.19.1 in c:\users\97254\appdata\local\programs\python\python38\lib\site-packages (from imbalanced-learn) (1.5.4)
Requirement already satisfied: joblib>=0.11 in c:\users\97254\appdata\local\programs\python\python38\lib\site-packages (from imbalanced-learn) (0.17.0)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\97254\appdata\local\programs\python\python38\lib\site-packages (from imbalanced-learn) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\97254\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn) (2.1.0)
Installing collected packages: imbalanced-learnNote: you may need to restart the kernel to use updated packages.
Successfully installed imbalanced-learn-0.8.0

WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\97254\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [47]:
from imblearn.over_sampling import SMOTE

In [49]:
sm = SMOTE(random_state=42)

X_sm, y_sm = sm.fit_resample(x, y)

print(f'''Shape of X before SMOTE: {x.shape}
Shape of X after SMOTE: {X_sm.shape}''')

print('\nBalance of positive and negative classes (%):')
y_sm.value_counts(normalize=True) * 100

Shape of X before SMOTE: (156, 17)
Shape of X after SMOTE: (252, 17)

Balance of positive and negative classes (%):

1.0    50.0
0.0    50.0
Name: outcome1, dtype: float64

In [59]:
X_sm.shape

(252, 17)

In [51]:
x_train, x_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=.3)

[0. 1.]
0.7631578947368421

    acc_gini  acc_entropy  max_depth
0   0.394737     0.552632          1
1   0.421053     0.526316          2
2   0.605263     0.592105          3
3   0.578947     0.605263          4
4   0.565789     0.684211          5
5   0.710526     0.618421          6
6   0.697368     0.618421          7
7   0.671053     0.684211          8
8   0.684211     0.605263          9
9   0.710526     0.631579         10
10  0.710526     0.592105         11
11  0.723684     0.592105         12
12  0.684211     0.605263         13
13  0.750000     0.631579         14
14  0.723684     0.657895         15
15  0.697368     0.644737         16
16  0.697368     0.618421         17
17  0.697368     0.657895         18
18  0.723684     0.605263         19

0.6710526315789473