In [36]:
from pycaret.classification import *
#using knn undersampeling for neural net work

In [37]:
import pandas as pd
import numpy as np
dataset=pd.read_excel("C:/Users/97254/Downloads/patient_level__ver 12_proj1_sn_5-13.xlsx", engine='openpyxl')
print(dataset.shape)

(1020, 70)

In [38]:
dataset = dataset[~dataset['age'].isin(['NAN'])]

In [39]:
target = dataset[['ICU_mortality']]

target.head()

   ICU_mortality
0              0
1              0
2              0
3              0
4              0

In [40]:

dataset = dataset[['age','BMI','APACHEII','trauma','metabolic','gastrointestinal','Sepsis','EN_pro_day0/kg','EN_pro_day1/kg','EN_pro_day2/kg','EN_pro_day3/kg','EN_pro_day4/kg','EN_pro_day5/kg']]
print(dataset.shape)

(976, 13)

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(dataset)
dataset = scaler.transform(dataset)

In [42]:
dataset=pd.DataFrame(dataset)

In [43]:
dataset.shape

(976, 13)

# under_sampling

In [44]:
from imblearn.under_sampling import EditedNearestNeighbours
  
#Edited Nearest Neighbours: This algorithm removes any sample which has labels different from those of its adjoining classes.
#pramaters to use:(ratio='auto', return_indices=False, random_state=None, size_ngh=None, n_neighbors=3, kind_sel='all', n_jobs=1)
en = EditedNearestNeighbours()
dataset, target = en.fit_resample(dataset, target)

In [45]:
dataset.shape

(566, 13)

In [46]:

downsampled = pd.concat([dataset, target],axis=1)

# checking counts
downsampled.ICU_mortality.value_counts()

0    331
1    235
Name: ICU_mortality, dtype: int64

In [47]:
downsampled.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,ICU_mortality
0,-0.085843,0.855644,1.880560,-0.467415,0.900422,-0.973706,0.854691,0.883920,-1.247298,0.109338,1.106764,-0.365172,-0.954469,0
1,-0.869903,-0.746900,-0.440721,-0.467415,-1.110590,1.027004,0.854691,-1.130816,-1.247298,-1.247386,1.550469,-0.653253,-0.954469,0
2,-0.141847,1.130836,2.183336,-0.467415,0.900422,-0.973706,0.854691,0.188090,-0.631114,0.597388,0.363699,-0.307653,-0.954469,0
3,0.250183,-0.488425,-0.440721,-0.467415,-1.110590,1.027004,-1.170014,-0.824098,1.247227,1.197273,1.123975,2.047947,1.370928,0
4,-1.149924,-1.400215,-0.440721,2.139426,0.900422,-0.973706,0.854691,0.239491,0.814258,-1.296103,-1.284060,-1.156622,-0.954469,0

In [48]:
from sklearn.model_selection import train_test_split
#this function randomly split the data into train and test sets
downsampled = downsampled.astype('float32')
x_train, x_test, y_train, y_test = train_test_split(downsampled.iloc[:,:13] , downsampled.iloc[:,13], test_size=.2)

In [49]:
x_train.shape

(452, 13)

In [58]:
from keras.models import Sequential
from keras.layers import Dense
# load the dataset
# split into input (X) and output (y) variables
# define the keras model
model = Sequential()
model.add(Dense(20, input_dim=13, activation='relu'))
model.add(Dense(18, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(x_train, y_train, epochs=100, batch_size=20, verbose=0)
# make class predictions with the model

In [59]:
predictions = model.predict_classes(x_test)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[55, 21],
       [11, 27]], dtype=int64)

In [60]:
from keras.models import Sequential
from keras.layers import Dense
# load the dataset
# split into input (X) and output (y) variables
# define the keras model
model = Sequential()
model.add(Dense(20, input_dim=13, activation='relu'))
model.add(Dense(5, activation='sigmoid'))
model.add(Dense(10, activation='sigmoid'))

model.add(Dense(18, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(x_train, y_train, epochs=100, batch_size=20, verbose=0)
# make class predictions with the model

In [61]:
predictions = model.predict_classes(x_test)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[55, 21],
       [10, 28]], dtype=int64)